<ion-view view-title="Order Destination">
  <ion-content><br>
    <center><h2>Address</h2></center>
    <div class="list" id="details">
    <label class="item item-input item-stacked-label">
      <span class="input-label">Full Name</span>
      <input type="text" placeholder="Krishna">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Email</span>
      <input type="text" placeholder="krishna@sushi.com">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Phone No</span>
      <input type="text" placeholder="9876556789">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Address</span>
      <input type="text" placeholder="Your Address">
    </label><br>
    <center><button class="button button-positive" ng-click="order()">
        Order
    </button></center>
</div>
  </ion-content>
</ion-view>
