<ion-modal-view>
  <ion-content>
    <div class="hero no-header flat">
      <div class="content">
          <div class="app-icon"></div>
          <center><h1 id="log">Sushi Chef</h1></center>
      </div>
    </div>
    <form ng-submit="vm.doSignUp()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Full Name</span>
          <input type="text" ng-model="vm.object.name">
        </label><br>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="vm.object.email">
        </label><br>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="vm.object.password">
        </label><br>
        <label class="item item-input">
          <span class="input-label">Phone No</span>
          <input type="text" ng-model="vm.object.phoneno">
        </label><br>
        <label class="item item-input">
          <span class="input-label">Landline No</span>
          <input type="text" ng-model="vm.object.landline">
        </label><br>
        <label class="item item-input">
          <span class="input-label">Address</span>
          <input type="text" ng-model="vm.object.address">
        </label><br>
        <label class="item">
          <button class="button button-block button-assertive" type="submit">Sign Up</button>
        </label>
        <label class="item">
          <div class="button-bar social-login">
                  <button class="button button-small button-border icon-left ion-social-google button-assertive">Google+</button>
                  <button class="button button-small button-border icon-left ion-social-twitter button-calm">Twitter</button>
                  <button class="button button-small button-border icon-left ion-social-facebook button-positive">Facebook</button>
          </div>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
